.parent {
  background-color: aquamarine;
  padding: 25px;
  display: flex;
}
.child {
  border: 1px solid red;
  padding: 20px;
  margin: 10px 0;
  background-color: blanchedalmond;
  font-size: large;
}
